@media screen and (max-width:750px){
    
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botoes{
        display: flex;
        flex-direction: column;
    }

    .botao{
        width: 100%;
        margin-bottom: 5px;
    }

    .poster-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .detalhes-poster p, h1{
        align-items: center;
    }

    .sinopse{
        width: 100%;
    }

    .tamanho-imagem img{
        height: 450px;
    }

    .container-comentarios{
        display: flex;
        flex-direction: column;
    }

    .comentarios{
        width: 100%;
        margin-bottom: 15px;
    }

    .opiniao{
        width: 100%;
    }

    .botoes-comentarios{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }

    .botao-comentario{
        width: 98%;
        margin-top: 5px;
    }

}

@media screen and (min-width:1024px){
    .descricao{
        width: 50%;
    }
}